$color-white: #ffff; // basic color
$color-black: #000000; //basic color
$color-background: #f9fafb; //background used for the container
$color-kayak: #ff690f; //extra color for the app
$color-opaque-black: #192024;
